h1 {
	font-family: "Georgia", serif;
}

body {
  background-color: #FFE4E1;
  padding: 30px; 
}

nav {
	font-size: 18px;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

article {
  padding: 15px;
  border-radius: 10px;
  background-color: #DCDCDC;
  text-align: center;
}